<% provide(:title, @list.title) %>

<div class="list-show">
  <h2>Body</h2>
  <p><%= @list.body %></p>
  <h2>Image</h2>
  <%= attachment_image_tag @list, :image, :fill, 300, 300, format: 'jpeg' %>
</div>

<div class="link">  
  <%= link_to "Edit", edit_todolist_path(@list.id) %>
  <%= link_to "Delete", destroy_todolist_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>

